extends layout

block content
  .container.pure-g
    .pure-u-1-4
      .bench-bar
        .bench-bar-inner
          include benchHeader
    .pure-u-3-8
      .margin-15
        h1 #{bench.title}
        blockquote#about #{bench.description}
        p By #{owner.dribbble}