.land
  .color-bar
  .hero-img
  .cta.text-center
    h1.title
      a(href="/", title="bbbench") bbbench
    h3.tagline Bookmark your favorite designers from Dribbble
    a.link(href="/register", title="Get started") Start Building Your Benches
    br
    a.sign-in(href="/sign-in", title="Sign In") Sign In
  .pure-g-r.container 
    .pure-u-1