.land
  .color-bar
  .hero-img
  .cta.text-center
    h1.title
      a(href="/", title="bbbench") bbbench
    h3.tagline Bookmark your favorite designers from Dribbble
    a.link(href="/register", title="Get started") Start Building Your Benches
    br
    a.sign-in(href="/sign-in", title="Sign In") Sign In
  .readons 
    .pure-g-r.reason
      .pure-u-7-12.words.left
        h3.reason-title Your inspiration in one place
        p.reason-text Artists are constantly looking at their peers for inspiration. This reciprocation helps us grow and learn from one another. Bbbench lets your organize the people that influence you most. Reference them whenever you need a better idea.
      .pure-u-5-12.illustration 
        img(src="http://placehold.it/375/eeeeee/ec4989&text=Inspiration")
    .pure-g-r.reason
      .pure-u-5-12.illustration 
        img(src="http://placehold.it/375/eeeeee/ec4989&text=Organization")
      .pure-u-7-12.words.right
        h3.reason-title Build the perfect lineups
        p.reason-text Create customizable groups (<strong>benches</strong>) of your favorite <a href="http://dribbble.com">Dribbble</a> players. Create a bench for your favorite "flat" style illustrators, or a bench for the best UI designers local to you.
          br
          br
          | It's all about finding that one artist that did that one thing... <em>quickly</em>.
    .pure-g-r.reason
      .pure-u-7-12.words.left
        h3.reason-title Share and recommend
        p.reason-text Is a friend looking for a product designer at their next big startup? Send them one of your hand-picked benches. Bbbench includes detailed information, including portfolio and contact links, for each artist. Facilitate a quick connection between parties. Be the hero.
      .pure-u-5-12.illustration 
        img(src="http://placehold.it/375/eeeeee/ec4989&text=Recommendation")
  .cta.flex-h.text-center
    h3.tagline Bookmark your favorite designers from Dribbble
    a.link(href="/register", title="Get started") Start Building Your Benches
  .copy.text-center
    p &copy; 2014 All Rights Reserved. Bbbench | 
      a(href="http://teamjosh.co") Team Josh