.land
  .color-bar
  .hero-img
  .cta.text-center
    h1.title
      a(href="/", title="bbbench") bbbench
    h3.tagline Bookmark your favorite designers from Dribbble
    a.link(href="/register", title="Get started") Start Building Your Benches
    br
    a.sign-in(href="/sign-in", title="Sign In") Sign In
  .readons 
    .pure-g-r.reason
      .pure-u-7-12.words.left
        h3.reason-title Your inspiration in one place
        p.reason-text Artists are constantly looking at their peers for inspiration. (So needy!)
      .pure-u-5-12.illustration 
        img(src="http://placehold.it/375x375&text=bbbench")
    .pure-g-r.reason
      .pure-u-5-12.illustration 
        img(src="http://placehold.it/375x375&text=bbbench")
      .pure-u-7-12.words.right
        h3.reason-title Your inspiration in one place
        p.reason-text Artists are constantly looking at their peers for inspiration. You know how it goes.
    .pure-g-r.reason
      .pure-u-7-12.words.left
        h3.reason-title Your inspiration in one place
        p.reason-text Artists are constantly looking at their peers for inspiration, #amIright?!
      .pure-u-5-12.illustration 
        img(src="http://placehold.it/375x375&text=bbbench")
  .cta.flex-h.text-center
    h3.tagline Bookmark your favorite designers from Dribbble
    a.link(href="/register", title="Get started") Start Building Your Benches
  .copy.text-center
    p &copy; 2014 All Rights Reserved. Bbbench | 
      a(href="http://teamjosh.co") Team Josh