extends layout

block content
  .container.pure-g-r
    .pure-u-1-2.text-center
      a.btn.auth-twitter(href="/auth/twitter")
        span.icon-twitter
    .pure-u-1-2.pull-center
      p#about
      form#log-in-form(action="#{type == 'register' ? '/register' : '/sign-in'}", method="post").pure-form.pure-form-aligned
        legend
          if type == 'register'
            | Register
            a.btn#switch-login(data-toggle-to="signin") Sign In
          else
            | Sign In
            a.btn#switch-login(data-toggle-to="register") Register
        fieldset#login-fields
          if type == 'register'
            .pure-control-group
              label(for="dribbble") Dribbble username
              input(type="text", name="dribbble", placeholder="dribbble", autofocus="autofocus")
          .pure-control-group
            label#email-login-field(for="email") Email
            input(type="email", name="email", placeholder="you@domain.co", autofocus="autofocus")
          .pure-control-group
            label(for="password") Password
            input.password-field(type="password", name="password", placeholder="Password")
          if type == 'register'
            .pure-control-group
              label(for="password_conf") Confirm Password
              input.password-field(type="password", name="password_conf", placeholder="Confirm password")
          .pure-controls
            input(type="submit", value="Submit")