body {
  font-size: 15px ;
  line-height: 1.4em;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: 600;
  background: white;
  color: #333;
}
body *{
  box-sizing:border-box;
}
h1, h2, h3, h4, h5{
  font-weight: 100;
}
a {
  color: #ea4c89 ;
  text-decoration: none;
  transition: 0.3s;-moz-transition: 0.3s;-webkit-transition: 0.3s;-o-transition: 0.3s;
}
a:hover{
  border-bottom: 1px solid #ea4c89;
  cursor: pointer;
}
.muted{
  opacity: 0.5;
}
.em{
  font-style: italic;
}
.upper{
  text-transform: uppercase;
}
.thin{
  font-weight: 100;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: right;
}
.no-dot-list{
  list-style: none;
}
.container{
  max-width: 1200px;
  margin:0 auto;
}
.pure-textarea{
  width: 178px;
  height: 75px;
}

#switch-login{
  float: right;
}
.auth-twitter{
  background-color: rgb(85, 172, 238);
  color: white;
  padding: 0.5em 3em;
  border-radius: 3px
}
.auth-twitter:hover{
  border: none;
}

.tabletbar{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3em;
  z-index: 100;
  background-color: #333;
  color: #efefef;
  padding: 0.5em 1em;
}
.tabletbar .bench-logo{
  display: inline-block;
  padding: 0.7em 0;
}
.tabletbar .bench-logo a{
  font-size: 1.5em;
  padding: 0 1em 0 0;
}
.tabletbar .bench-logo small{
  
}
.tabletbar .new-bench-button{
  display: inline-block;
  padding: 0 0.5em 0.15em;
  font-size: 0.8em;
  float: right;
  position: relative;
  top: 0.9em;
  right: 3em;
}
.tabletbar .new-bench-button.inlist{
  display: none;
  float: none;
  left: 0;
}
.tabletbar .new-bench-button span{
  margin: 0 0.1em 0 0;
}
.current-bench-button, .bench-in-list-drop, .account-dropper{
  color: #fefefe;
  margin: 2px 0;
  font-size: 0.9em;
}
.bench-drop-wrap{
  display: inline-block;
  vertical-align: top;
  float: right;
  padding: 0 1em 0 0;
  text-align: right;
  transition: 0.3s;-moz-transition: 0.3s;-webkit-transition: 0.3s;-o-transition: 0.3s;
}
.current-bench-button{
  position: relative;
  display: inline-block;
  top: 0.75em;
  right: 1em;
  transition: 0.3s;-moz-transition: 0.3s;-webkit-transition: 0.3s;-o-transition: 0.3s;
}
.current-bench-button:hover, .account-dropper:hover{
  border: none;
}
.bench-list-drop{
  display: none;
  position: relative;
  background-color: #333;
  list-style: none;
  padding: 0.5em 1em;
  z-index: 10;
  transition: 0.3s;-moz-transition: 0.3s;-webkit-transition: 0.3s;-o-transition: 0.3s;
  display: none;
  border-radius: 3px;
  opacity: 0;
  box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}
.bench-list-drop.active{
  display: block;
  opacity: 1;
}
.account-drop-wrap{
  display: inline-block;
  vertical-align: top;
  transition: 0.3s;-moz-transition: 0.3s;-webkit-transition: 0.3s;-o-transition: 0.3s;
}
.account-dropper{
  position: relative;
  display: inline-block;
  top: 0.9em;
  opacity: 0.5;
  transition: 0.3s;-moz-transition: 0.3s;-webkit-transition: 0.3s;-o-transition: 0.3s;
}
.account-drop{
  display: none;
  position: relative;
  background-color: #333;
  list-style: none;
  padding: 0.5em 1em;
  z-index: 10;
  transition: 0.3s;-moz-transition: 0.3s;-webkit-transition: 0.3s;-o-transition: 0.3s;
  display: none;
  border-radius: 3px;
  opacity: 0;
  box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}
.account-drop.active{
  display: block;
  opacity: 1;
}

.togglebar{
  display: none;
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
  position: relative;
  z-index: 10;
}
.togglebar .pure-u-1-2{
  text-align: center;
}
.togglebar .pure-u-1-2 a{
  padding: 0.2em 0.5em;
  display: block;
  border: 2px solid #aaa;
  border-radius: 3px;
  margin: 0 0.5em;
  color: #aaa;
  background: #eee;
}
.togglebar .pure-u-1-2.active a{
  color: inherit;
  border-color: inherit;
  background: white;
}

.bench-bar{
  height: 100vh;
  background-color: #333;
  color: #efefef;
  overflow: scroll;
}
.bench-bar-inner{
  padding: 20px;
}
.bench-header{
  margin-bottom: 1em;
}
.bench-logo{
  margin:0;
  font-weight: 600;
}
.bench-logo a{
  color: #efefef;
}
.bench-logo a:hover{
  border: none;
}
.bench-tagline{
  opacity: 0.6;
  font-weight: 600;
}
.new-bench-button{
  display: block;
  background-color: #ea4c89;
  padding: 5px 0 9px 0;
  text-align: center;
  border-radius: 3px;
  color: #fefefe;
  margin-bottom: 15px;
}
.new-bench-button:hover{
  border: none;
}
.new-bench-button span{
  position: relative;
  top: 4px;
  font-weight: 700;
  margin: 0 10px 0 0;
  font-size: 1.5em;
}
.bench-heading{
  text-transform: uppercase;
  opacity: 0.3;
  font-size: 0.7em;
  font-weight: 700;
}
.bench-list{

}
.bench-in-list{

}
.bench-link, .settings-link, .signout-link{
  color: #fefefe;
  opacity: 0.6;
  margin: 2px 0;
  font-size: 0.9em;
  display: block;
}
.settings-link, .signout-link{
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 700;
}
.bench-link.active, .bench-link:hover, .settings-link:hover, .signout-link:hover{
  color: #fefefe;
  opacity: 1;
  border:none;
}

.workbench{
  box-shadow: 0 5px 3px lightgrey;
  height: 100vh;
  overflow: scroll;
}
.work-heading, .player-heading{
  font-weight: 700;
  margin: 20px 0 15px 15px;
  font-size: 17px;
}
.work-actions, .player-actions{
  text-align: right;
  margin: 20px 15px 15px 0;
}
.share-work{
  color: #333;
  font-size: 0.6em;
  background-color: #ddd;
  opacity: 0.6;
  padding: 5px 10px;
  border: 1px solid #bbb;
  border-radius: 3px;
  position: relative;
  top:-8px;
  margin-right: 3px;
}
.share-work:hover{
  border: 1px solid #bbb;
  opacity: 1;
}
.edit-work:hover{
  color: #ea4c89;
  border: none;
}
.edit-work{
  color: #333;
  font-weight: 700;
  font-size: 1.25em;
  position: relative;
  bottom: 3px;
  margin-left: 5px;
}
.close-work:hover{
  color: #ea4c89;
  border: none;
}
.close-work{
  color: #333;
  font-weight: 700;
  font-size: 1.5em;
}
.work-sort, .player-sort{
  border-bottom: 2px solid #eee;
  margin: 0 15px 0;
  text-align: right;
}
.work-sorter, .player-sorter{
  font-size: 0.65em;
  font-weight: 700;
  color: #333;
  opacity: 0.5;
  margin: 0 5px;
  border-bottom: 2px solid #eee;
  padding-bottom: 4px;
}
.work-sorter.active, .player-sorter.active{
  color: #333;
  opacity: 1;
  border-bottom-color: #333;
}

.player-bar{
  height: 100vh;
  overflow: scroll;
  background-color: #fafafa;
}
.player-actions{
  margin-bottom: 25px;
}
.player-type-link{
  font-size: 0.9em;
}
.player-type-link.active{
  color: #333;
  font-weight: 700;
}
.player-type-link.active:hover{
  cursor: pointer;
  border: none;
}
#following-load{
  background-color: #ea4c89;
  height: 3px;
  transition: 0.3s;-moz-transition: 0.3s;-webkit-transition: 0.3s;-o-transition: 0.3s;
  width: 0%;
}

.player-list, .work-list{
  margin: 15px;
  min-height: 60vh;
}

.player{
  transition: 0.3s;-moz-transition: 0.3s;-webkit-transition: 0.3s;-o-transition: 0.3s;
  background-color: white;
  border: 1px solid #f1f1f1;
  border-radius: 6px;
  padding: 8px;
  line-height: 0;
  margin: 10px 0;
  -webkit-user-drag: element;
}
.player:hover{
  cursor: move;
}
.player.no-drag:hover{
  cursor: default;
}
.player-pic{
  display: inline-block;
  margin-right: 10px;
}
.player.no-drag .player-pic:hover{
  cursor: default;
}
.player-img{
  width: 65px;
  height: 65px;
  border-radius: 5px;
}
.player-basics{
  display: inline-block;
  height: 65px;
  line-height: 1em;
  vertical-align: top;
}
.player-basics .lead{
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 3px;
}
.player-basics .lead .icon-star2{
  margin: 0.5em;
  top: 1px;
  position: relative;
  opacity: 0.3;
  transition: 0.3s;-moz-transition: 0.3s;-webkit-transition: 0.3s;-o-transition: 0.3s;
}
.player-basics .lead .icon-star2:hover{
  cursor: pointer;
  color: #ea4c89;
  opacity: 0.75;
}
.player-basics .lead .icon-star{
  margin: 0.5em;
  top: 1px;
  position: relative;
  color: #ea4c89;
  transition: 0.3s;-moz-transition: 0.3s;-webkit-transition: 0.3s;-o-transition: 0.3s;
}
.player-basics .lead .icon-star:hover{
  cursor: pointer;
  color: darkgrey;
}
.player-basics .detail{
  font-size: 0.7em;
  opacity: 0.6;
}
.player-basics .detail span{
  font-size: 1.5em;
  position: relative;
  top:3px;
  margin-left:-3px;
}
.player-followers-count{
  display: inline-block;
  height: 65px;
  text-align: right;
  line-height: 1em;
  vertical-align: top;
  float: right;
}
.player-followers-count .lead{
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 3px;
}
.player-followers-count .detail{
  font-size: 0.7em;
  opacity: 0.6;
}
.player-basics .buttons{
  margin-top: 6px;
}
.player-followers-count .buttons{
  margin-top: 10px;
}
.player-basics .buttons a:hover{
  border: none;
}
.player-followers-count .buttons a:hover{
  border: none;
}
.player-basics .dribbble-link{
  color: white;
  background-color: #ea4c89;
  border-radius: 2px;
  padding: 4px 10px;
  font-size: 0.7em;
  opacity:0.6;
  font-weight: 700;
}
.player-basics .twitter-link{
  color: #333;
  background-color: #e1e1e1;
  padding:3px 4px 0px;
  border-radius: 2px;
  opacity:0.6;
  position: relative;
  top:3px;
  margin: 0 4px 0 6px;
}
.player-basics .mail-link{
  color: #333;
  background-color: #e1e1e1;
  padding:3px 4px 0px;
  border-radius: 2px;
  opacity:0.6;
  position: relative;
  top:3px;
}
.player-basics .web-link{
  color: #333;
  background-color: #e1e1e1;
  padding:3px 4px 0px;
  margin-right: 4px;
  border-radius: 2px;
  opacity:0.6;
  position: relative;
  top:3px;
}
.player-basics .dribbble-link:hover, .player-basics .twitter-link:hover, .player-basics .web-link:hover, .player-basics .mail-link:hover{
  opacity: 1;
}
.player-basics .twitter-link:hover{
  color: #55acee;
}
.player-followers-count .more-info-button, .player-followers-count .remove-button{
  color: #333;
  background-color: white;
  padding:3px 4px 0px;
  border-radius: 2px;
  opacity:0.6;
  position: relative;
  top:3px;
  border: 1px solid #ddd;
}
.player-followers-count .remove-button{
  margin-right: 10px;
  color: firebrick;
}
.player-followers-count .buttons a.more-info-button:hover, .player-followers-count .buttons a.remove-button:hover{
  border: 1px solid #fff;
  opacity: 1;
}

.player-card{
  display: none;
}
.player-card .latest-img-link{
  display: inline-block;
  color:#222;
}
.player-card .latest-img-link:hover{
  border: none;
}
.player-card .latest-img-link h4{
  font-weight: 700;
  color:#222;
}
.latest-img-wrap{
  font-size: 0.8em;
  display: inline-block;
  text-align: right;
  padding: 1em 1em 0.5em;
  border:1px solid #eee;
  border-radius: 4px;
}
.latest-img{
  display: block;
  margin-bottom: 0.5em;
}
.latest-img-wrap .latest-img-views, .latest-img-wrap .latest-img-comments, .latest-img-wrap .latest-img-likes{
  opacity: 0.5;
  margin-left: 0.75em;
  display: inline-block;
}
.latest-img-wrap .icon-eye, .latest-img-wrap .icon-comment, .latest-img-wrap .icon-heart{
  position: relative;
  top: 1px;
}
.player-card-table{
  width: 100%;
  margin:10px 0 5px;
  border-radius: 3px;
  border: 1px solid #ddd;
}
.player-card-table th{
  padding: 10px;
  font-size: 10px;
}
.player-card-table tbody td{
  padding: 10px;
}
.player-card-table caption{
  font:inherit;
  font-weight: 700;
}

#messages{
  position: fixed;
  background-color:rgba(0,0,0,0.5);
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index: 100;
  text-align: center;
  padding-top: 20vh;
}
#messages .wrapper{
  background-color:#eee;
  display: inline-block;
  padding: 1em 2em;
  border: none;
  border-radius: 10px;
}
#messages .message{
  color: #ADCD2D;
}
#messages .error{
  color: #CF381C;
}
.dismiss-alert{
  color: #aaa;
  font-size:1.5em;
  vertical-align: middle;
  margin-right: 1em;
}
.dismiss-alert:hover{
  border: none;
  color: #ea4c89;
}

input[type="submit"]{
  color: #ADCD2D;
  border: 2px solid #ADCD2D;
  border-radius: 3px;
  background-color: rgba(173,205,45,0.1);
  padding: 0.4em 0.75em;
  transition: 0.3s;-moz-transition: 0.3s;-webkit-transition: 0.3s;-o-transition: 0.3s;
}
input[type="submit"]:hover{
  background-color: white;
}

.margin-15{
  margin: 15px;
}
@media only screen and (max-width :949px){
  body{
    padding-top: 3.5em;
  }
  .desktopbar{
    display: none;
  }
  .benchbar{
    width: 50%;
  }
  .tabletbar{
    display: block;
  }
  .workbench{
    margin-top: 0.75em;
  }
  .player:last-child{
    margin-bottom: 3.5em;
  }
  #following-load{
    margin-top: 0.5em;
  }
}
@media only screen and (max-width :767px){
  .title{
    font-size: 30px;
  }
  .leader{
    font-size: 1.2em;
  }
}
@media only screen and (max-width :749px){
  .benchbar{
    width: 100%;
    display: none;
  }
  .benchbar.active{
    display: block;
  }
  .player-list, .work-list{
    margin:0 2px;
  }
  .tabletbar{
    font-size: 0.8em;
  }
  .togglebar{
    display: block;
    padding-bottom: 0.5em;
  }
  .work-actions, .player-actions, .player-heading, .work-heading{
    margin-top: 0;
  }
  .tabletbar .new-bench-button{
    display: none;
  }
  .tabletbar .new-bench-button.inlist{
    display: block;
  }
}